<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header" th:inline="text">
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/}">Home</a></li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <!--<li><a href="#" th:href="@{/chapters}">Chapters</a></li>-->
                        <!--<li><a href="#" th:href="@{/chapter/new}">Create chapter</a></li>-->
                        <li><a href="#" th:href="@{/search}">Search</a></li>
                        <li th:switch="${#httpServletRequest!=null}? ${#httpServletRequest.remoteUser!=null} : ${false}">
                                <a th:case="${false}" href="#" th:href="@{/login}">Login</a>
                            <span th:case="${true}">
                                <li><a th:inline="text">You logged in as </a></li>
                                <li><a th:inline="text" style="color: blue">[[${#httpServletRequest.remoteUser}]]</a></li>
                                <li><a href="#" th:href="@{/logout}">Logout</a></li>
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </div>
</div>
</body>
</html>
