<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">

    <title></title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<table>
    <tr>
        <td>
            <div class="container">
                <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
                <div th:fragment="ArticlesFragment">
                    <h3>Table of contents</h3>
                    <!--/*@thymesVar id="articles" type="List<springboot.domain.Article>"*/-->

                    <div th:each="article,iterStat : ${articles}"
                         th:if="${not #lists.isEmpty(articles)} ">

                        <label th:text="${article.shortText}">descirption</label>
                        <label style="font-weight: normal"><a th:href="${'/article/' + article.id}">View</a></label>
                        <label style="font-weight: normal"><a th:href="${'/article/edit/' + article.id}">Edit</a></label>
                        <label style="font-weight: normal"><a th:href="${'/article/delete/' + article.id}">Delete</a></label>
                    </div>
                </div>
            </div>
        </td>
        <td>
        </td>
    </tr>
</table>
</body>
</html>
