<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title></title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div th:fragment="articleView" >
            <h3 >article Details</h3>
            <!--/*@thymesVar id="article" type="springboot.domain.article"*/-->
            <!--/*@thymesVar id="articlePath" type="java.lang.String"*/-->
            <form class="form-horizontal">
                <p class="form-control-static" th:text="${articlePath}">articlePath</p>
                <div>
                    <label class="col-sm-2 control-label">article Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${article.id}">article Id</p></div>
                </div>
                <div>
                    <label class="col-sm-2 control-label">Short Description:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${article.shortText}">shortText</p>
                    </div>
                </div>
                <div>
                    <label class="col-sm-2 control-label">Full text:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${article.fullText}">fullDescription</p>
                    </div>
                </div>
            </form>
    </div>
</div>

</body>
</html>
