<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">

    <title></title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div id="articleEdit" th:fragment="articleEdit">
        <h3>Article Details</h3>
        <!--/*@thymesVar id="article" type="springboot.domain.Article"*/-->
        <!--/*@thymesVar id="articlePath" type="java.lang.String"*/-->
        <p class="form-control-static" th:text="${articlePath}">articlePath</p>
        <form id="editArticleForm" class="form-horizontal" th:object="${article}"  >
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <input type="hidden" th:field="*{parentObject.id}"/>

<!--
            <input type="hidden" th:field="*{articleList}"/>
            <input type="hidden" th:field="*{childArticleList}"/>
-->
            <div>
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{shortText}"/>
                </div>
            </div>
            <div>
                <label class="col-sm-2 control-label">Full text:</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" th:field="*{fullText}"/>
                </div>
            </div>
            <div class="row">
                <!--<button id="submitButton" type="submit" class="btn btn-default">Submit</button>-->
                <input id="submit" href="/article/save"  class="btn btn-default" value="Submit"/>
                <!--<button id="submit" class="btn btn-default">Submit</button>-->
            </div>
        </form>
        <script type="text/javascript">

            $(function () {
                $("#editArticleForm").on("click", "#submit", function () {
                    window.console.log("article test");
                    $.ajax({
                        type: "POST",
                        url: "/article/save",
                        data: $("#editArticleForm").serialize(),
                    }).done(function (data) {
                        window.console.log("article done");
                        updatePage();

                    }).always(function (data) {
                        window.console.log("article always");
                        $("#articleEdit").html(data);
                    });
                    return false;
                });
            });

        </script>
    </div>
</div>

</body>
</html>
